@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

:root {
  /* Primary Colors */
  --color-custom-soft-orange: hsl(35, 77%, 62%);
  --color-custom-soft-red: hsl(5, 85%, 63%);
  /* Neutral Colors */
  --color-custom-off-white: hsl(36, 100%, 99%);
  --color-custom-grayish-blue: hsl(233, 8%, 79%);
  --color-custom-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-custom-very-dark-blue: hsl(240, 100%, 5%);
}
